h1 {
    display: flex;
    justify-content: center;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-img img{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.about-img {
    background: linear-gradient(to right, var(--navbar-color), var(--navbar-color-2));
    border-radius: 50%;
    padding: 1ch;
}

.about-text{
    padding: 2em;
}

.about-text h2{ 
    display: flex;
    justify-content: center;
}

/* contact section styling */
.contact-container  {
    display: flex;
    justify-content: center;
    align-items: center;

}

.contact-info {
    display: flex;
    justify-content: center;
    align-items: center;
}

i {
    font-size: 3em;
}

.contact{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem 2rem;
}

.contact a{
    text-decoration: none;
    color: var(--navbar-text-color);
}

.contact a:last-child{
    font-size: 2em;
    font-weight: 700;
}

.contact:hover a{
    color: var(--nav-highlight-color);
}

@media screen and (max-width: 530px){
    .contact a:last-child{
        font-size: 1em;
        font-weight: 700;
    }
}